<div>
<label style="font-size: 14px;font-weight:300;">Data being saved</label>
<textarea rows="8" style="max-width:100%;margin-bottom: 1em;font-size: 14px;font-weight:300;background: #efefef;" class="form-control">
In et odio a metus sagittis imperdiet non et velit. Maecenas aliquet tempus nulla in molestie. Morbi metus nibh, ullamcorper quis fermentum et, scelerisque ac dui. Integer risus ex, cursus id finibus elementum, pulvinar et enim. Mauris id velit purus. In a cursus nisi. Integer auctor urna id scelerisque commodo. Phasellus nunc nisl, ultrices convallis maximus eget, convallis in arcu. Vivamus in risus diam.

Vestibulum ornare leo a lectus fringilla finibus.
Quisque quis purus ac tellus ultricies semper ac et justo.
In congue tristique lorem vitae sodales. Phasellus convallis scelerisque massa et viverra.Pellentesque ultricies maximus null
a sit amet molestie. Duis elementum purus non fermentum pellentesque. Aenean id blandit odio, vel luctus massa. Proin eleifen
d turpis sit amet placerat venenatis.

tra ultrices. Sed gravida ornare tincidunt. Vivamus ut nisl rhoncus, aliquet sapien nec, pulvinar magna. Donec t
ristique ipsum nec dui ultrices tincidunt. Proin sodales augue quis ligula aliquet, vitae molestie tortor molestie. Proin odi
o erat, auctor vitae leo id, finibus consequat neque.
</textarea>
</div>