.comments {
  background: #f3f3f3;
  border-radius: 2px;
}

.comment__reply-btn {
  color: #33b5e5;
  fill: #33b5e5;
}

.comment__reply-btn:hover, .comment__reply-btn:focus {
  color: #1454a7;
  fill: #1454a7;
}
