.input-group .form-control:focus ~ .input-group-addon {
  border-color: #1A6BD4;
  border-bottom: 1px solid #1A6BD4;
  -webkit-box-shadow: 0 2px 0 0 #1A6BD4;
          box-shadow: 0 2px 0 0 #1A6BD4;
}

.input-group-addon {
  color: #555555;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  border-radius: 5px;
}
