.introduction {
  background: white;
  position: relative;
  padding: 5rem 0;
}

.introduction:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  width: 100%;
  background: white;
}
