.card__block > .list-item:last-child {
  margin-bottom: 0;
}

.list-item--visibility {
  border-top: 1px solid #ddd;
}

.list-item.disabled, .list-item.disabled:hover, .list-item.disabled:focus {
  background-color: #EFEFEF;
  color: #777;
}

.list-item--active,
.list-item--active:hover {
  color: white;
  background-color: #2A32A3;
  border-color: #2A32A3;
}

.list-item--active .icon-small,
.list-item--active:hover .icon-small {
  fill: white;
}

.list-item--active .help-block,
.list-item--active:hover .help-block {
  color: white;
  font-weight: 300;
}

.list-item__avatar img {
  border-radius: 50%;
  white-space: nowrap;
  font-size: .75em;
}
