/bin
/*/core
/*/modules/contrib
/*/profiles/contrib
/*/themes/contrib
/*/sites/default/files
/*/sites/default/settings.local.php
/*/sites/default/services.local.yml
/*/libraries
vendor/
private-files
.idea

# Ignore pull script and remote env
.env-remote
.pull-prod
docker.settings.local.php
