<div class="col-md-4" style="margin-top:2em;">
  <h2>Nordic Smart Cities Network</h2>
  <p><a href="/NordicSmartCities" style="color: #fff;text-decoration: underline;">Show smart cities</a></p>
</div>
<div class="col-md-7 col-md-offset-1">
  {% include '@nscn/svg/nordic-countries-map.svg' %}
</div>
