<div class="col-md-4">
  <h2>14 nordic cities united in one smart network</h2>
  <p>Aarhus, København, Vejle, Bergen, Trondheim, Oslo, Stavanger, Reykjavik, Tromsø, Kristiansand, Tampere, Oulu, Helsinki and Stockholm</p>
</div>
<div class="col-md-7 col-md-offset-1">
  {% include '@nscn/svg/nordic-countries-map.svg' %}
</div>
