<div class="col-md-4">
  <h2>20 nordic cities united in one smart network</h2>
  <p>The Network includes Aarhus, København, Vejle, Lyngby, Syddjurs, Bergen, Trondheim, Oslo, Stavanger, Tromsø, Kristiansand, Reykjavik, Helsinki (represented by Forum Virium Helsinki), Tampere, Oulu, Espoo, Vantaa, Turku, Stockholm and Malmö</p>
</div>
<div class="col-md-7 col-md-offset-1">
  {% include '@nscn/svg/nordic-countries-map.svg' %}
</div>
