@import "settings";

// Used on a introduction section
.introduction {
  background: white;
  position: relative;
  padding: $spacer*5 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  .field--name-field-introduction-aside {
    background-color: #f8f8f8;
    padding: 1rem;
  }
}
