@import "settings";

// Used on a introduction section
.introduction {
  background: white;
  position: relative;
  padding: $spacer*5 0;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: $spacer*2;
    width: 100%;
    background: white;
  }
}
