@import "settings";

// Used on a introduction section
.dashboard {
  background: $brand-primary;
  padding: $spacer*5 0;
  color: white;
  select {
    border: 1px solid white;
    background: transparent;
    border-radius: 0;
  }
}
