// Font
//
// The standard font Open social uses is Montserrat. We have included the font files with our theme.
// We bundle our theme with 3 different font weights you can use: 300, 500 and 700
//
// ### Setting a custom font
// __Option 1__
//
// Use the social_font module to upload custom fonts and select you new font in the theme settings.
//
// __Option 2__
//
// Upload your font to the assets folder of your theme. Update the base component text/fonts and update the `$font-family-webfont` variable. Don't forget to compile the CSS again.
//
// Weight: 1
//
// Style guide: base.type.font

@font-face {
  font-family: 'muli';
  font-path: '../font/muli-v11-latin/muli-v11-latin-200';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'muli';
  font-path: '../font/muli-v11-latin/muli-v11-latin-regular';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'muli';
  font-path: '../font/muli-v11-latin/muli-v11-latin-700';
  font-weight: 700;
  font-style: normal;
}
