@import "settings";

// Used on a hero block that can hold a background image.
.cover {
  color: white;
  background-color: $brand-primary;
}

.page-title {
	color: white;
}

.hero-avatar {
  border-radius: 50%;
  border: 2px solid white;

  @include for-tablet-portrait-up {
    border-width: 3px;
  }

}

.hero-canvas {
  border-radius: $border-radius-base;
  background-color: rgba($gray-dark, 0.8);
  color: white;
}

.hero-form[role='search'] {

  .form-control {
    border-radius: $input-border-radius;

    &:focus,
    &:active,
    &:focus ~ .search-icon,
    &:active ~ .search-icon {
      box-shadow: 0 2px 0 0 $brand-secondary;
    }

  }

  .form-submit,
  .search-icon {
    border-radius: 0 $input-border-radius $input-border-radius 0;
  }

  .search-icon {
    fill: $brand-primary;
    background: white;
  }

}

.paragraph--hero {
  .cover-small {
    background: rgba(0,0,0,.4);
    margin: 0 15px;
    box-sizing: border-box;
    padding: 2em;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);

    @media(min-width: 600px) {
      position: absolute;
      left: 0;
    }
    .page-title {
      width: 100%;
      text-align: left;
      padding: 30px 0 10px;
    }
    .page-subtitle {
      margin: 0 0 5px;
      font-weight: normal;
      font-size: 20px;
    }
    .hero-footer {
      .field--name-field-hero-buttons {
        margin: 0 -10px;
      }
      .field--item {
        display: inline-block;
        .paragraph--button {
          padding: 0 10px;
        }
      }
      .card__actionbar {
        padding: 20px 0;
        .btn {
          background: $brand-primary;
          border-radius: 0!important;
          min-width: 130px;
          color: $white;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
