{# {% if content %}
  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          {{ content }}
        </div>
      </div>
    </div>
  </footer>
{% endif %} #}

<footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 center">
          <h3>A collaboration of City Labs</h3>
          <img class="logo" src="/themes/custom/nscn/assets/img/logo/nscn-logo-white.svg" alt="nscn - Nordic Smart City Network">
          <div><a href="https://www.was.digst.dk/nscn-eu">{{ 'Web accessibility statement'|t }}</a></div>
        </div>
      </div>
    </div>
  </footer>
