@import "../../settings";

.body-text {

  a:not(.btn) {
    text-decoration: none;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

}
